<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
  {{ template "nav" }}
  <h1 class="text-3xl mx-9 my-2">
    Add Recipe
  </h1>
  <form hx-post="/recipe" hx-swap="afterend">
    <label for="url">URL:</label>
    <input type="text" name="url" value="" />
    <label for="list">List:</label>
    <input hx-post="/list_search" 
      hx-trigger="keyup changed delay:500ms"
      hx-target="#list-search-results"
      hx-swap="innerHTML"
      id="list-input" 
      type="text" name="list" value="" />
    <div id="list-search-results"></div>
    <input type="hidden" name="list_id" value="1" />
    <button type="submit">Submit!</button>
  </form>
</body>

</html>

{{ define "add_recipe_result" }}
<a href="/recipe/{{ .Id }}">{{ .Name }}</a>
{{ end }}

{{ define "list_search_results" }}
  {{ range . }}
    <div onClick="handelListSearchResultClick(event)">
      {{ .Name }}
    </div>
  {{ else }}
  {{ end }}
{{ end }}

