{{define "list_page"}}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
  <body>
    {{ template "nav" }}
    <h1 class="text-3xl my-2 flex items-top">
    <img class="w-12 inline-block mx-2" src="/static/book.svg" alt="">
      {{ .Name }} ({{ .Id }})
    </h1>
    <hr class="ml-16">
    <div class="my-2 mx-16">
      {{ template "list_of_items" .Children }}
    </div>
  </body>
</html>
{{end}} 


{{ define "list_of_items" }}
<ul>
  {{ range . }}
  {{ template "item" . }}
  {{ else }}
  {{ end }}
</ul>
{{ end }}


{{ define "item" }}
<li class="p-1" hx-target="this" hx-swap="outerHTML">
  <a class="underline"
     href="/{{ .Type }}/{{ .Id }}"
    >{{ .Name }}</a> ({{ .Type }})
  <button 
    class="underline"
    hx-get='/api/item/{{ .Id }}/edit?name={{ .Name }}&type={{ .Type }}'
  >...</button>
</li>
{{ end }}


{{ define "edit_item" }}
<li class="p-1" hx-target="this" hx-swap="outerHTML">
  <input
    class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500"
    name="name" value="{{ .Name }}">
  <button class="underline"
    hx-get='/api/item/{{ .Id }}?type={{ .Type }}'
    >cancel</button>
  <button class="underline"
    hx-put='/item/{{ .Type }}/{{ .Id }}' 
    hx-include='closest li'
    >confirm</button>
  <button class="underline"
    hx-delete='/item/{{ .Type }}/{{ .Id }}'
    hx-confirm="Are you sure?"
    >delete</button>
</li>
{{ end }}
