{{define "recipe_page"}}
<html lang="en">
  <head>
    <title>Gourmeg | {{.Name}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>

  <body>
    {{ template "nav" }}
    <div>Recipe | id: {{ .Id }} name: {{ .Name }}</div>
    <div>
      <ul>
        {{ range $i := .Ingredients }}
        <li>{{ $i }}</li>
        {{ else }}
        {{ end }}
      </ul>
      Instructions:
      <ol>
        {{ range $i := .Instructions }}
        <li>{{$i}}</li>
        {{ else }}
        {{ end }}
      </ol>
    </div>
  </body>
</html>
{{end}}
