{{ define "body" }}
<h1 class="text-3xl py-2 mx-2 flex items-top items-center">
    <img class="w-14 inline-block pr-2" src="/static/add_recipe.svg" alt="" />
    Add Recipe
</h1>
<hr class="ml-14 mr-2" />
<div class="my-2 ml-16 mr-2">
    <form id="add-recipe-form" hx-post="/recipe" hx-swap="afterend">
        <label for="url">URL:</label>
        <input
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500"
            type="text" name="url" value="" />
        <br />
        <label for="list">List:</label>
        <input
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500"
            hx-post="/list_search" hx-trigger="keyup changed" hx-target="#list-search-results"
            hx-swap="innerHTML" id="list-name-input" type="text" name="list" value="" />
        <input id="list-id-input" type="hidden" name="list_id" value="1" />
        <script>
            function handelListSearchResultClick(e, list_id) {
                let list = e.srcElement.innerText
                document.getElementById('list-name-input').value = list
                document.getElementById('list-id-input').value = list_id
            }
        </script>
        <div class="my-1" id="list-search-results"></div>
        <button class="text-gray-50 p-1 rounded border border-gray-300 bg-teal-400" type="submit">
            Submit!
        </button>
    </form>
</div>
{{ end }}

{{ define "add_recipe_result" }}
<a href="/recipe/{{ .Id }}">{{ .Name }}</a>
{{ end }}

{{ define "list_search_results" }}
{{ range . }}
<div onClick="handelListSearchResultClick(event, {{ .Id }})">{{ .Name }}</div>
{{ else }} {{ end }}
{{ end }}
