{{define "recipe_page"}}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    {{ template "nav" }}
    <div class="max-w-screen-md mx-auto">
      <h1 class="text-3xl my-2 flex items-center">
        <img class="w-12 inline-block mx-2" src="/static/cooking.svg" alt="" />
        {{ .Name }} ({{ .Id }})
      </h1>
      <hr class="ml-16" />
      <div class="mx-16 my-2">
        <h2 class="text-xl">Ingredients:</h2>
        <ul class="list-disc list-inside">
          {{ range $i := .Ingredients }}
          <li>{{ $i }}</li>
          {{ else }} {{ end }}
        </ul>
        <br />
        <h2 class="text-xl">Instructions:</h2>
        <ol class="list-decimal list-inside">
          {{ range $i := .Instructions }}
          <li>{{$i}}</li>
          {{ else }} {{ end }}
        </ol>
      </div>
    </div>
  </body>
</html>
{{end}}
