{{ define "body" }}
<div id="list-content">
    <h1 class="text-3xl py-2 mx-2 flex items-top items-center">
        <img class="w-14 inline-block pr-2" src="/static/book.svg" alt="" />
        {{ .Name }} ({{ .Id }})
        <button class="underline" hx-get="/list/{{ .Id }}/edit" hx-target="#list-content">
            ...
        </button>
    </h1>
    <hr class="mx-2 py-1" />
    <div class="mx-2 text-lg">
        <ul id="list-children" class="flex flex-wrap justify-evenly">
            <li class="w-full" hx-target="this" hx-swap="outerHTML">
                <button class='underline' hx-get='/item/list/add?parent_id={{ .Id }}'> + Add List</button>
                or
                <button class='underline' hx-get='/item/recipe/add?list_id={{ .Id }}'> + Add Recipe</button>
            </li>
            {{ range .Children }} {{ template "item" . }} {{ else }} {{ end }}
        </ul>
    </div>
</div>
{{ end }}


{{ define "edit_list" }}
<h1 class="text-3xl mt-2 mx-2 flex flex-wrap items-top items-center">
    <img class="w-14 inline-block pr-2" src="/static/book.svg" alt="" />
    <input class="bg-gray-50 ring-1 ring-gray-300 text-gray-900 rounded focus:ring-blue-500" name="name"
        value="{{ .Name }}" />
    ({{ .Id }})
</h1>
<p class="mx-2" hx-target="body">
    <button class="underline" hx-get="/list/{{ .Id }}">
        cancel
    </button>
    <button class="underline" hx-put="/list/{{ .Id }}" hx-include="closest li">
        confirm
    </button>
    <button class="underline" hx-delete="/list/{{ .Id }}" hx-confirm="Are you sure?">
        delete
    </button>
</p>
<div class="mb-2 mx-2 text-lg">
    <ul class="">
        {{ range .Children }}
        <li class="py-1">
            <input type="checkbox" id="{{ .Id }}" /> <label for="{{ .Id }}">{{ .Name }} ({{ .Type }})</label>
        </li>
        {{ else }} {{ end }}
    </ul>
</div>
{{ end }}
