{{ define "nav" }}
<nav hx-boost="true" class="bg-teal-400 text-gray-50 font-bold py-2 w-full flex justify-center">
    <div class="inline-flex items-center px-2 w-full max-w-screen-md">
        <img class="pr-2 w-14" src="/static/cat_chef.svg" alt="chef cat" />
        <div class="flex-grow">
            <h3 class="text-xl">GOURMEG</h3>
            <a class="underline" href="/">Home</a> |
            <a class="underline" href="/add">Add</a> |
            <a class="underline" href="/search">Search</a>
        </div>
        <a class="text-gray-50 p-1 rounded border border-gray-300 bg-teal-400" href="/login">LOGIN</a>&nbsp;
        <a href="/register" class="underline">Register</a>
    </div>
</nav>
{{ end }}
